
*{
    margin: 0;
}

#navbar{
    position: fixed;
    background: #db0000;
    width: 100%;
}


#welcome-section{
    height: 100vh;
}



@media screen and (max-width: 600px) {
    .body {
      width: 100%;
    }
  }
